name: Build and Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Configure Elastic Container Registry credentials
      env:
          AWS_REGION: us-east-1
      run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }} --region ${{ env.AWS_REGION }}       
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }} --region ${{ env.AWS_REGION }}    
    
    - name: ECR log-in
      env:
        AWS_REGION: us-east-1
      run: aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin 308516746479.dkr.ecr.us-east-2.amazonaws.com

    - name: Build docker image
      run: |
        docker build -t devops-udem:latest .
    - name: Tag image
      run: |
        docker tag devops-udem:latest ${{ secrets.ECR_REPOSITORY_URL }}/backend-app:latest
    - name: Push image
      run: |
        docker push ${{ secrets.ECR_REPOSITORY_URL }}/backend-app:latest