name: Build and Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Configure Elastic Container Registry credentials
      env:
          AWS_REGION: us-east-1
      run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }} --region ${{ env.AWS_REGION }}       
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }} --region ${{ env.AWS_REGION }}    
    
    - name: ECR log-in
      run: aws ecr get-login-password --region ${{ vars.AWS_REGION }} | docker login --username AWS --password-stdin ${{vars.ECR_REPOSITORY_URL}}

    - name: Build docker image
      run: |
        docker build -t devops-udem:latest .

    - name: Tag image
      run: |
        docker tag devops-udem:latest ${{ secrets.ECR_REPOSITORY_URL }}/devops-udem:latest
    - name: Push image
      run: |
        docker push ${{ secrets.ECR_REPOSITORY_URL }}/devops-udem:latest
